:root {
  --primary: #578FC2;
  --secondary: #58C5B7;
  --tertiary: #9CD7B0;
  --black: #000000;
  --gray-1: #20232a;
  --gray-2: #efefef;
  --red-1: #e74c3c;
  --font-family: 'Outfit', sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #444;
  --border: 1px solid var(--gray-2);
  --border-radius: 4px
}
