**/node_modules

/.idea

# Dossiers et fichiers générés par Symfony
**/var/
**/vendor/
**/node_modules/
**/public/bundles/
**/var/cache/
**/var/log/
**/var/sessions/
**/.phpunit.result.cache

# Environnement spécifique
**/.env.local
**/.env.local.php
**/.env.*.local

# Composer
**/composer.phar
**/vendor/
**/.composer/