@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-bold.ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  @apply font-poppins text-base;
}

.page-wrapper {
  @apply flex flex-col;
  min-height: 100vh;

  #main-content {
    @apply flex flex-col grow w-full;
  }
}

.btn {
  @apply bg-white rounded-lg text-primary py-1 px-6 w-fit ease-in-out duration-300;

  &.primary {
    @apply bg-primary text-white;

    &:hover {
      @apply bg-secondary;
    }
  }

  &.secondary {
    @apply bg-secondary text-white;

    &:hover {
      @apply bg-primary;
    }
  }

  &.reverse {
    @apply bg-white text-primary border-primary border-solid border-[1px];

    &:hover {
      @apply bg-secondary text-white border-secondary border-solid border-[1px];
    }
  }
}


input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 5px !important;
}

