@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/Poppins-bold.ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  @apply font-poppins text-base;
}