

.loginContainer {

  padding: 20px;
  border: 1px solid #09828B;
  border-radius: 4px;

  .title {
    &::after {
      content: '';
      display: block;
      width: auto;
      height: 4px;
      border-radius: 50px;
      background-color: #09828B;
    }
  }
}

